{% extends 'base.html' %}

{% block header %} 
  <h2 class="text-center">{% block title %}Add new civilisation{% endblock %}</h2>
{% endblock %}

{% block content %}
<form class="form-horizontal" action="/editor/add_civilisation/" method="post" enctype="multipart/form-data" >
  <div class="form-group">
    <label class="control-label col-sm-2" for="name">Name:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" name="name" placeholder="e.g 'Germany'"required />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="region">Region:</label>
    <div class="col-sm-10"> 
      <input type="text" class="form-control" id="region" name="region" placeholder="e.g Europe" required />
    </div>
  </div>
   <div class="form-group">
    <label class="control-label col-sm-2" for="era">Era:</label>
    <div class="col-sm-10"> 
      <input type="text" class="form-control" id="era" name="era" placeholder="e.g Medieval Era" required />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="time_period">Time Period:</label>
    <div class="col-sm-10"> 
      <input type="text" class="form-control" id="time_period" name="time_period" placeholder="e.g Late Middle Ages" required />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="established">Established on:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="established" name="established" placeholder="e.g 1666AD" required />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="end_date">Ending date:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="end_date" name="end_date" placeholder="e.g 1918AD" required />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="gov_type">Government type:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="gov_type" name="gov_type" placeholder="e.g Monarchy" required />
    </div>
   </div>
   <div class="form-group">
    <label class="control-label col-sm-2" for="religion">Official Religion:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="religion" name="religion" placeholder="e.g Catholicism" required />
    </div>
   </div>
   <div class="form-group">
    <label class="control-label col-sm-2" for="fun_fact">Fun Fact:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="fun_fact" name="fun_fact" placeholder="Enter an interesting fact about the civilisation!" required />
    </div>
   </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="image">Image:</label>
    <div class="col-sm-10">
      <input type="file" class="form-control-file"  id="image" name="image"  />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="info">Information:</label>
    <div class="col-sm-10">
      <textarea class=form-control" rows="6"  cols="100" id="info" name="info" placeholder="e.g The United Kingdom of Great Britain and Northern Ireland, simply called the United Kingdom or UK, is a sovereign state in Northern Europe..."  required /></textarea>
    </div>
  </div>  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </div>
</form>
{% endblock %}
