{% extends 'base.html' %}

{% block header %}
<div class="container">
  <div align="center">
    <h2>{% block title %} Admin Editor {% endblock %} </h2>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div align="center">
    <h4> This is the editor page, from here you can access the tools to add or remove entries on civilisations. </h4>
    <a href="{{ url_for('add_civilisation') }}" class="btn btn-success" role="button">Add Civilisation</a>
    <a href="{{ url_for('remove_civilisation') }}" class="btn btn-danger" role="button">Remove Civilisation</a>
  </div>
</div>
{% endblock %}
