{% extends 'base.html' %}

{% block header %}
<div class="container">
  <div align="center">
    <h2>{% block title %}{{civ.name}}{% endblock %}</h2>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div align="center">
  <p> Region: <a href = {{ url_for('civilisations_index_page', era_name=format_string(era_name), time_period=format_string(time_period), region=format_string(civ.region)) }}>{{civ.region}}</a></p>
  <p> Time period: <a href = {{ url_for('region_index_page', era_name=format_string(era_name), time_period=format_string(time_period)) }}>{{time_period}}</a></p>
  <p> Summary here! </p>
  </div>
</div>
{% endblock %}

