{% extends 'base.html' %}

{% block header %}
<div align="center">
  <h2>{% block title %}{{era_name}} Civilisations{% endblock %}</h2>
</div>
{% endblock %}

{% block content %}
<div class="container" align="center">
  <h3> You are exploring civilisations in {{region}} during the {{time_period}} </h3>
  {% set max = civs|length %}	
  {% if max >= 3 %}
  <h4> Random Civilisation to check out today: </h4>
   <div id="random_civs" class="carousel slide" data-ride="carousel">

    {% set previous_numbers = [] %}
    <div class="carousel-inner" style="height:340px;width:490px">
      <div class="item active">
	  {% set random_number = range(0, max)|random|int %}
          <a href="{{ url_for('civilisation_page', era_name=format_string(era_name), time_period=format_string(time_period), region=format_string(civs[random_number].region), civ_name=format_string(civs[random_number].name)) }}">
          <img src="{{ url_for('static', filename='img/' + format_string(civs[random_number].image)) }}" style="height:340px;width:490px"  alt="random_civ_1">
        </a>
	<div class="carousel-caption">
          <h3><mark>{{civs[random_number].name}}</mark></h3>
          <p><mark>{{civs[random_number].fun_fact}}</mark></p>
        </div>
      </div>
      {% set previous_numbers = [random_number]  %}
      <div class="item">
          {% set random_number_2 = get_random_number(max, previous_numbers) %}
        <a href="{{ url_for('civilisation_page', era_name=format_string(era_name), time_period=format_string(time_period), region=format_string(civs[random_number_2].region), civ_name=format_string(civs[random_number_2].name)) }}">
          <img src="{{ url_for('static', filename='img/' + format_string(civs[random_number_2].image)) }}" style="height:340px;width:490px"  alt="random_civ_2" >
        </a>
        <div class="carousel-caption">
          <h3><mark>{{civs[random_number_2].name}}</mark></h3>
          <p><mark>{{civs[random_number_2].fun_fact}}</mark></p>
        </div>
      </div>
      {% set previous_numbers = [random_number, random_number_2] %}
      <div class="item">
	  {% set random_number_3 = get_random_number(max, previous_numbers) %}
        <a href="{{ url_for('civilisation_page', era_name=format_string(era_name), time_period=format_string(time_period), region=format_string(civs[random_number_3].region), civ_name=format_string(civs[random_number_3].name)) }}">
          <img src="{{ url_for('static', filename='img/' + format_string(civs[random_number_3].image)) }}" style="height:340px;width:490px"   alt="random_civ_3" >
        </a> 
        <div class="carousel-caption">
          <h3><mark>{{civs[random_number_3].name}}</mark></h3>
          <p><mark>{{civs[random_number_3].fun_fact}}</mark></p>
        </div>
      </div>
    <a class="left carousel-control" href="#random_civs" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#random_civs" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
{% endif %}

<h4> Select a civilisation to learn its story:</h4>
{% for civ in civs %}
  <div class="col-md-3">
    <a class="thumbnail fancybox" rel="lightbox" href="{{ url_for('civilisation_page', era_name=format_string(era_name), time_period=format_string(time_period), region=format_string(civ.region), civ_name=format_string(civ.name)) }}" >
      <img src="{{ url_for('static', filename='img/' + format_string(civ.image)) }}" style="height:20%" class="img-responsive" />
      <div class="caption">
        <h4>{{civ.name}}</h4>
      </div>
    </a>
  </div>
 {% endfor %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</div>
{% endblock %}

