{% extends 'base.html' %}

{% block header %}
<div class="container" align="center">
  <h2> Explore civilisations by the eras of history! </h2>
</div>
{% endblock %} 

{% block content %}
<div class="container">
<div class="row">
  {% for era in eras %} 
    <div class="col-md-4"> 
      <a class="thumbnail fancybox" rel="lightbox" href="{{ url_for('time_period_index_page', era_name=format_string(era.name)) }}" >
        <img src="{{ url_for('static', filename=era.image) }}" class="img" />
        <div class="caption" align="center">
          <h4>{{era.summary}}</h4>
        </div>
      </a>
    </div>
  {% endfor %} 
</div>
  <div align="center">
    <h3>Reeling in the Years allows you to explore civilisations and states throughout human history! </h3>
    <p> </p>
  </div>
</div>
{% endblock %}
