{% extends 'base.html' %}

{% block header %}
<div class="container">
  <div align="center">
  <h2>{% block title %}Explore the {{era.name}}{% endblock %}</h2>
  </div>
</div>
{% endblock %}

{% block content %} 
<div class="container">
  <div align="center">   
    <h3>{{era.summary}}</h3>
 <div class="row">
 {% for period in era.time_periods %}
 <div class="col-md-4">    
   <h4> <a href={{ url_for('region_index_page', era_name=format_string(era.name), time_period=format_string(period)) }}>{{period}}</a> </h4> 
 </div>
{% endfor %}
</div>
</div>
</div>
{% endblock %}

